<h2>Follower Users</h2>
<% if @user.exists? %>
<table class="1">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspans="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @user.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td>フォロー数: <%= user.followings.count %></td>
        <td>フォロワー数: <%= user.followers.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <p>ユーザーはいません</p>
<% end %>