// Place all the styles related to the Relationship controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table1{
  width: 100%;
  height: 100%;
}
thead{
  border-bottom: 2px solid #dee2e6;
}