// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.data1{
	width: 150px;
	border-top: 2px solid #dee2e6;
}
.data2{
	width: 230px;
	border-top: 2px solid #dee2e6;
}
.data3{
	width: 300px;
	border-top: 2px solid #dee2e6;
}

